{% extends "base.html" %}

{% block content %}
<h3>Добавление нового события</h3>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.event.label }}<br>
        {{ form.event(class="form-control") }}
        {% for error in form.event.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>{% endfor %}</p>

    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}
        {% for error in form.address.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date(class="form-control", type="date") }}
        {% for error in form.date.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p><input class="form-control" id="is_moderated" name="is_moderated" required="" type="hidden" value=False></p>
    <p>{% if current_user.is_authenticated and current_user.moderator %}
    <p>
        {{ form.is_moderated.label }} {{ form.is_moderated() }}
        &emsp;
        {{ form.is_finished.label }} {{ form.is_finished() }}
    </p>
    {% endif %}</p>

    <div class="form-group">
        <label for="picture">Выберите файл с картинкой</label>
        <input type="file" class="form-control-file" id="picture" name="picture">
    </div>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}