{% extends "base.html" %}

{% block content %}
<h4>{{ title }}</h4>

<form action="" method="post" enctype="multipart/form-data">
    {{ edit_form.hidden_tag() }}

    {% if current_user.is_authenticated and current_user.moderator %}
    <div class="col-12">
        {{ edit_form.surname.label }}
        {{ edit_form.surname(class="form-control") }}
        <div class="invalid-feedback">
            {% for error in edit_form.surname.errors %} {{ error }}
            {% endfor %}
        </div>

    </div>
    <div class="col-12">
        {{ edit_form.name.label }}
        {{ edit_form.name(class="form-control") }}
        <div class="invalid-feedback">
            {% for error in edit_form.name.errors %} {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        {{ edit_form.age.label }}
        {{ edit_form.age(class="form-control") }}
        <div class="invalid-feedback">
            {% for error in edit_form.age.errors %} {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        {{ edit_form.email.label }}
        {{ edit_form.email(class="form-control") }}
        <div class="invalid-feedback">
            {% for error in edit_form.email.errors %} {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        {{ edit_form.address.label }}
        {{ edit_form.address(class="form-control") }}
        <div class="invalid-feedback">
            {% for error in edit_form.address.errors %} {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        {{ edit_form.moderator.label }} {{ edit_form.moderator(class="checkbox mb-3") }}
    </div>
    <div class="col-12">
        {{ edit_form.submit(type="submit", class="btn btn-outline-primary") }}
    </div>
    {{message}}
    {% else %}
    <p>
        Фамилия: {{ user_info.surname }}<br>
        Имя: {{ user_info.name }}<br>
        Адрес: {{ user_info.address }}<br>
        Email: {{ user_info.email }}<br>
        Возраст: {{ user_info.age }}<br>
        Модератор: {{ user_info.moderator }}<br>
    </p>
    {% endif %}

</form>
{% endblock %}