{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h4 align="center">Календарь событий</h4>
<div class="btn-group">
    <a href="/last" class="btn btn-outline-success">Прошедшие</a>
    <a href="/" class="btn btn-outline-success">Предстоящие</a>
</div>
{% if current_user.is_authenticated %}
<a href="/addevent" class="btn btn-outline-primary">Добавить событие</a>

{% endif %}

<div class="table_container">
    <table class="my_table" bgcolor="#F0FFF0">
        <tr class="my_row" bgcolor="#98FB98">
            <td class="title" width="400px" align="center">название</td>
            <td class="title" width="250px" align="center">автор</td>
            <td class="title" width="200px" align="center">адрес</td>
            <td class="title" width="200px" align="center">дата</td>
            <td class="title" width="100px" align="center">завершено</td>
        </tr>

        {% for event in events %}

        <tr class="my_row">
            <td class="ordinary">
                <div>
                    <a href="/showevent/{{ event.id }}">{{ event.event.capitalize() }}</a>
                    {% if current_user.is_authenticated and current_user.moderator and event.is_moderated==False%}
                    <a href="/events/{{ event.id }}" class="btn btn-outline-warning">
                        Проверить
                    </a>
                    {% else %}
                    <a href="/events/{{ event.id }}" class="btn btn-outline-success">
                        Редактировать
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.moderator %}
                    <a href="/events_delete/{{ event.id }}" class="btn btn-outline-danger">
                        Удалить
                    </a>
                    {% endif %}
                    <span class="badge bg-success">{{ event.get_willcome() }}</span>

                </div>

            </td>
            <td class="ordinary" align="center">
                {% if event.user.moderator %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star"
                     viewBox="0 0 16 16">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                </svg>
                {% endif %}
                {% if current_user.is_authenticated and current_user.moderator %}
                <a href="/user/{{ event.author }}">{{ event.user }}</a>
                {% else %}
                {{ event.user }}
                {% endif %}
            </td>
            <td class="ordinary" align="center">{{ event.address }}</td>
            <td class="ordinary" align="center">{{ event.date }}</td>
            {% if event.is_finished %}
            <td class="ordinary" align="center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                </svg>
            </td>
            {% else %}
            <td class="ordinary" align="center"
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-calendar-event" viewBox="0 0 16 16">
                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
            </td>
            {% endif %}
        </tr>

        {% endfor %}
    </table>
</div>
<br>


{% endblock %}