{% extends "base.html" %}

{% block content %}


<h2>{{ title }}</h2>
<h3>{{ event.event }}</h3>
<div class="container">
    <div class="row">
        <div class="col">{% if event.picture != '' %}

            <img src="/static/img/{{ event.picture }}"
                 class="figure-img img-fluid rounded"
                 width="350"
                 alt="здесь должна была быть картинка, но не нашлась">
            <br>
            {% endif %}
        </div>
        <div class="col"><div>{{ event.description }}</div></div>


    </div>
</div>


{% if current_user.is_authenticated %}
{% if param.last %}
<p>Было записано {{ param.count }}</p>
{% else %}
<a href="/iwill/{{ event.id }}" class="btn btn-outline-primary btn-lg">

    {% if param.promise %}
    Решил не идти &#128581
    {% else %}
    Я приду &#128587
    {% endif %}
</a>
<p>Уже {{ param.count }} обещали прийти</p>
{% endif %}
{% endif %}
{% endblock %}